.label {
    padding: 6px 12px;
    color: #1abc9c;
    top: -34px;
    position: relative;
    z-index: -1;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.labelOne {
    top: -65px;
}

.bgColor {
    background-color: #1abc9c;
}

@media(max-width: 768px) {
    .form {
        width: 100% !important;
    }
}

