@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');

:root {
  --main-backGround-Color: #1abc9c;
}
body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.active {
  background-color: #1abc9c !important;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.bg-color {
  background-color: var(--main-backGround-Color);
}

.modal-content {
  background-color: transparent;
  border: none;
}

.form-control {
  border-width: 0 0 1px 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
  border-color: #dee2e6;
}

.btn:hover {
  color: #fff;
  background-color: #1abc9c;
  border-color: #1abc9c;
}
